Today's Agenda
---------------------
<pre>
Loops
Python Data Structures
	List
	Set
	Arrays
	Dictionary (Extended)
OOP
	Classes ,Objects  & Functions

# Loops
---
<pre>
Any task that is repetitive in Nature or repeats itself requires us to use Loop in Python Programming.

      eg.
        1. Repeated userid and password (in case of wrong credentials)
        2. Repeat All Button in music Players.

In [ ]:
# quick question

# we use loops when a task is ______ in nature.
# answer: repetitive

# Python Provides 2 Types of Loops

1. While

2. For

In [ ]:
# eg.


meter = 2

while  meter <= 10 :

  print (   meter )

  meter =  meter + 2

2
4
6
8
10

# for loop
----

In [ ]:
# say for eg. you have some set of elements eg. grocery list. you want to acces
# each element in 1 by 1 order

# in this case use for loop

In [ ]:


for item in 'milk','rusk','bread','butter','mint':

  print( item )

milk
rusk
bread
butter
mint

# Suggestion
# Solving atleast 15 Questions on For and While (each) total of 30 to develop flexibility

# Next  Topic : Python Data Structures
---

quick summary :

data structures enables to efficiently store and organize data.

it simplifies operations like .
		add/update/delete/search/sort

there are two types(categories) of data structures .

	1. primitive types: used to store and process
	scaler value .eg int /float/str/ bool

	2. non primitive types: used to store and process
	group of values or a collection eg.
	list/tuple/set/dict.

# Non Primitive Data Structures
---

### List
---

In [ ]:
grocery = ['milk' ,'bread' , 100 ,100 , 100 , True , 10.5 ]

In [ ]:
# what is grocery ?

type(grocery)

list

# What are the Characteristics of List ?
---
<pre>
    🌻  A List is Created or Represented using  [ ]
    🌻  A List can contain element of multiple DataTypes. ✅
    🌻  A List can contain Duplicates . ✅
    🌻  List is Mutable Data Structure .
    it means a List allows Modifications in List Elements.
      eg.
          ✅ Add new Element
          ✅ Delete Existing element
          ✅ Update Element
          ✅ Sort Elements.

# Let us Learn List Operations using a Real World Eg.
---

In [ ]:
shopping_cart = []

In [ ]:
print(    'total products in cart '  ,    len ( shopping_cart)  )

total products in cart  0

In [ ]:
# len( pass your list here )
# function: purpose
# syntax
# eg. len : used to find count of elements
#  len( listhere)

<pre> .append() : this function is used to add a new element in  a list

 syntax:      listname.append( elementHere )

In [ ]:
# Before
shopping_cart

[]

In [ ]:
shopping_cart.append( 'iPhone' )

In [ ]:
# after
shopping_cart

['iPhone']

In [ ]:
shopping_cart.append('airPods')
shopping_cart.append('macbook')
shopping_cart.append('iwatch')
shopping_cart.append('iPad')

In [ ]:
print(shopping_cart)

['iPhone', 'airPods', 'macbook', 'iwatch', 'iPad']

In [ ]:
print('total product in Cart' , len( shopping_cart ))

total product in Cart 5

# Hey Rajan how do i add Multiple Elements in 1 Line ?
---
 answer: use .extend() function

 extend: this function is used to add multiple elements.

 # syntax:      listname.extend ( newListHere )

In [ ]:
# Before
print( shopping_cart )

['iPhone', 'airPods', 'macbook', 'iwatch', 'iPad']

In [ ]:
# here is a new list
combo_offer = ['bagpack','charger','datacable']

In [ ]:
# using .extend()

shopping_cart.extend(    combo_offer )

In [ ]:
# after
print(shopping_cart)

['iPhone', 'airPods', 'macbook', 'iwatch', 'iPad', 'bagpack', 'charger', 'datacable']

# How Do i Access a Single / individual element in a List ?
answer: use Index

In [ ]:
print(shopping_cart)

['iPhone', 'airPods', 'macbook', 'iwatch', 'iPad', 'bagpack', 'charger', 'datacable']

In [ ]:
shopping_cart[2]

'macbook'

In [ ]:
shopping_cart.index('macbook')

2

In [ ]:
shopping_cart[-2]

'charger'

# Removing Elements
---

In [ ]:
# before

print( shopping_cart)

['iPhone', 'airPods', 'macbook', 'iwatch', 'iPad', 'bagpack', 'charger', 'datacable']

In [ ]:
# listname.remove( elementHere )

shopping_cart.remove ( 'iwatch' )

In [ ]:
# after
print( shopping_cart )

['iPhone', 'airPods', 'macbook', 'iPad', 'bagpack', 'charger', 'datacable']

In [ ]:
# method 2

#  del   listname[  indexHere ]

In [ ]:
# before
print( shopping_cart)

['iPhone', 'airPods', 'macbook', 'iPad', 'bagpack', 'charger', 'datacable']

In [ ]:

del shopping_cart[ 0  ]

In [ ]:
# after
print( shopping_cart )

['airPods', 'macbook', 'iPad', 'bagpack', 'charger', 'datacable']

# sort()

In [ ]:
# before
print(shopping_cart)

['airPods', 'macbook', 'iPad', 'bagpack', 'charger', 'datacable']

In [ ]:
shopping_cart.sort()

In [ ]:
# after
print(shopping_cart)

['airPods', 'bagpack', 'charger', 'datacable', 'iPad', 'macbook']

In [ ]:
# note: if a list contains mixed types of elements , list cannot be sorted.

In [ ]:
# END
# Post ☕ Break topics
# Tuple
# Set
# Dictionary
# Array
# OOP

# Tuples
---
<pre>
Context: Not all information is supposed to be modified some information must be kept READ ONLY.

eg.
    Government ID(s) eg. addhaar / pan /  passport no.
    Bank Txn History
    School or Education Records.

In [ ]:
panCards =  ( 'AONP7444M' , 'IPJC0339' , 'MJCK39389')

In [ ]:
# what is pancards?
type(panCards)

tuple

# what are the characteristics of tuple ?
<prE>
🌻  A tuple is reprsented using  ( ) .
🌻  A Tuple can contain mixed datatype element and duplicates too.✅
🌻 (primary difference from List) . Tuple is Immutable i.e. READONLY.
You can't
  ❌ Add new element in a tuple.
  ❌ update or Delete an element in a tuple.
  ❌ you can't sort tuple elements.

# let us confirm the read only nature of tuple.
---

In [ ]:
panCards

('AONP7444M', 'IPJC0339', 'MJCK39389')

In [ ]:
del panCards [0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# diy activity : can we modify a list inside a tuple ?

# SET
---

In [ ]:
colors = { 'orange','orange','indigo','indigo','indigo','maroon','maroon'}

In [ ]:
for item in colors:
  print( item )

maroon
orange
indigo

# Characteristics of SET
---
<pre>
  🌻 Set is represented using { }
  🌻 Set is know for removing(automatic) duplicates.
  🌻 each element in set will be Unique.
  🌻 Set is Unordered Collection or Data Structure.

In [ ]:
# what does unordered means here ?

In [ ]:
# before
print( colors )

{'maroon', 'orange', 'indigo'}

In [ ]:
colors.add('brown')

In [ ]:
print( colors )

{'maroon', 'orange', 'indigo', 'brown'}

In [ ]:
colors.add('apricot')

In [ ]:
colors

{'apricot', 'brown', 'indigo', 'maroon', 'orange'}

In [ ]:
colors.add('cherry')

In [ ]:
colors

{'apricot', 'brown', 'cherry', 'indigo', 'maroon', 'orange'}

In [ ]:
colors.add('banyan')

In [ ]:
print(colors)

{'maroon', 'orange', 'cherry', 'indigo', 'apricot', 'banyan', 'brown'}

In [ ]:
# but in case of list or dictionary  ! the order of elements i.e index position will be retained.
# in simple the order in which you add elements , the same order will be followed while fetching elements.
# this is called ordered

# set is unordered means the order of elements in not retained or fixed. it changes after every addition or removal
# of elements.

In [ ]:
# because set is unorderd thats why indexing isn't supported in set.

In [ ]:
print ( colors [0]  )

TypeError: 'set' object is not subscriptable

# Let us Understand a Real world Usage of SET
---

In [ ]:
sales_team =  {'casselyn' , 'andika', 'miki' ,'manoj' ,'nicklaus'}

marketing_team =  { 'zhining', 'casselyn' , 'timi tao' , 'andika' , 'naomi' }

# Analytics using SET
---

In [ ]:
# Objective: you are asked to find Employee working for both the teams i.e. sales and Marketing.

# answer: intersection: intersection help us find common elements.

In [ ]:
sales_team.intersection( marketing_team )

{'andika', 'casselyn'}

In [ ]:
# alternative
sales_team  & marketing_team

{'andika', 'casselyn'}

In [ ]:
{1,2,3,4,5}.intersection({3,4,5,6})

{3, 4, 5}

In [ ]:
sales_team

{'andika', 'casselyn', 'manoj', 'miki', 'nicklaus'}

In [ ]:
marketing_team

{'andika', 'casselyn', 'naomi', 'timi tao', 'zhining'}

In [ ]:
# objective: you are asked to prepare a report containing names of all emloyees from both team(s)
# answer: union: union is used to merge 2 sets and form a new set.

In [ ]:
print(  sales_team.union( marketing_team) )

{'naomi', 'miki', 'nicklaus', 'casselyn', 'timi tao', 'zhining', 'andika', 'manoj'}

In [ ]:
# alternative
print ( sales_team | marketing_team )

{'naomi', 'miki', 'nicklaus', 'casselyn', 'timi tao', 'zhining', 'andika', 'manoj'}

In [ ]:
sales_team

{'andika', 'casselyn', 'manoj', 'miki', 'nicklaus'}

In [ ]:
marketing_team

{'andika', 'casselyn', 'naomi', 'timi tao', 'zhining'}

In [ ]:
# objective: you are asked to find employees of Sales team working only for sales team .
# difference : difference returns elements of first set only excluding commons.

sales_team.difference ( marketing_team )

{'manoj', 'miki', 'nicklaus'}

In [ ]:
# alternatively
sales_team - marketing_team

{'manoj', 'miki', 'nicklaus'}

In [ ]:
sales_team

{'andika', 'casselyn', 'manoj', 'miki', 'nicklaus'}

In [ ]:
marketing_team

{'andika', 'casselyn', 'naomi', 'timi tao', 'zhining'}

In [ ]:
# objective: you are asked to find all employees from both team excluding commons

# symmetric_difference : this returns elements from both sets excluding commons

In [ ]:
print( sales_team.symmetric_difference ( marketing_team ))

{'naomi', 'miki', 'nicklaus', 'manoj', 'timi tao', 'zhining'}

In [ ]:
# alternative

sales_team ^ marketing_team

{'manoj', 'miki', 'naomi', 'nicklaus', 'timi tao', 'zhining'}

In [ ]:
#

# Union vs Symmetric_difference
---
<pre>
Operation Meaning union (∪) Combines all unique elements from both sets (includes commons) symmetric_difference (∆) <br/> Combines elements that are in either set but not both (excludes commons)

# Dictionary
----

In [ ]:
# below data

[ 4928 , 'arvind' , 4 ,7 ,1028 ,'praveen' ]


# in above data it is hard to understand or describe the context of each value.
# eg. who is buyer / supplier / price / day   / month / year etc.

[4928, 'arvind', 4, 7, 1028, 'praveen']

In [ ]:
{'buyer' : 'praveen' ,
 'supplier' : 'arvind' ,
 'quantity' : 4928,
 'day':4,
 'month':7}

{'buyer': 'praveen',
 'supplier': 'arvind',
 'quantity': 4928,
 'day': 4,
 'month': 7}

In [ ]:
#  { key : value }


{ 'water' :  [ 'jal' , 'neer' , 'nilu'  , 'pani'] }

# key : string
# value : list

# word and its synonyms

{'water': ['jal', 'neer', 'nilu', 'pani']}

In [ ]:
# let us learn dictionary from the scratch

In [ ]:
usa  = { }

In [ ]:
# Syntax to add a Key/value Pair in a dictionary

# dictName [ keyHere ] = valueHere

In [ ]:
usa['CA'] = 'California'

In [ ]:
usa

{'CA': 'California'}

In [ ]:
usa['TX'] = 'Texas'
usa['AL'] = 'Alabama'
usa['AR'] = 'Arkansas'

In [ ]:
print( usa )

{'CA': 'California', 'TX': 'Texas', 'AL': 'Alabama', 'AR': 'Arkansas'}

In [ ]:

usa["IL"] = "Illinois"

In [ ]:
print( usa )

{'CA': 'California', 'TX': 'Texas', 'AL': 'Alabama', 'AR': 'Arkansas', 'IL': 'Illinois'}

In [ ]:
# characteristics
# 🌻 Each Element in  a Dictionary is  a Key/Value Pair !
# 🌻 YOu cannot repeat a Key in Dictionary
# 🌻 Dictionary is Mutable Data Structure.
# 🌻 Only Immutable DataTypes can be used as Key . Mutable DataTypes aren't allowd to be used as Key.

# Mutable Types : List / Set / Dictionary

# Immutable Types : int / str / float /bool / tuple

# eg.

#  { 'a' : 'apple' } ✅ here# key 'a' is Valid because 'a' is string and is immutable.

#  { ['a'] : 'apple' } ❌ # here key ['a'] is invalid as ['a'] is list and is mutable.

In [ ]:
data  = { ('alice',2016) : 8500  , ('alice',2017): 9500 , ('alice',2018) : 4500 }

# key: is tuple where ( key is a combination of employee name and working year)
# value : is sale made by the employee

In [ ]:
data[('alice',2016)]

8500

# Fetch Value ! using KEY

# Syntax:
method 1            dictName[ KeyHere ]

method 2            dictName.get( keyHere )

In [ ]:
print( usa )

{'CA': 'California', 'TX': 'Texas', 'AL': 'Alabama', 'AR': 'Arkansas', 'IL': 'Illinois'}

In [ ]:
# method 1

usa['TX']

'Texas'

In [ ]:
# method 2
usa.get ('TX')

'Texas'

In [ ]:
# what happens if you repeat key ?
# before
print( usa )

{'CA': 'California', 'TX': 'Texas', 'AL': 'Alabama', 'AR': 'Arkansas', 'IL': 'Illinois'}

In [ ]:
usa['TX'] ='T-REX'

In [ ]:
print( usa )

{'CA': 'California', 'TX': 'T-REX', 'AL': 'Alabama', 'AR': 'Arkansas', 'IL': 'Illinois'}

In [ ]:
# here are some useful functions of dictionary !
print ( usa )

{'CA': 'California', 'TX': 'T-REX', 'AL': 'Alabama', 'AR': 'Arkansas', 'IL': 'Illinois'}

In [ ]:
# .keys(): returns only keys

usa.keys()

dict_keys(['CA', 'TX', 'AL', 'AR', 'IL'])

In [ ]:
# .values() : returns only values.
usa.values()

dict_values(['California', 'T-REX', 'Alabama', 'Arkansas', 'Illinois'])

In [ ]:
# .items(): returns key/value pair stored in a  tuple.

print( usa.items() )

dict_items([('CA', 'California'), ('TX', 'T-REX'), ('AL', 'Alabama'), ('AR', 'Arkansas'), ('IL', 'Illinois')])

# Tomorrows Agenda
------
# OOP  (Object Oriented programming)
# FLASK

In [ ]:
# can you please discuss difference b/w array and list

In [ ]:
sample = [ 10,20,30,40 ,'hello','world',True,False]

# list is: loosly typed  means it can allow elements of any type where array won't allow
# array allows element of same type only.

In [ ]:
# Array eg.
import array

myarray = array.array('i',[10,20,30,40,50])

# Array is strongly typed collection: it means that all the elements are supposed to be of
# same datatype. (homogenous)

In [ ]:
# i : means integer
# f : means float

In [ ]:
myarray[0]= 'hello' # trying to replace 10 with 'hello'

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
sample[0] = 'hello'

In [ ]:
print( sample )

['hello', 20, 30, 40, 'hello', 'world', True, False]

In [ ]:
myarray[0]

10

In [ ]:
myarray[0]=20

In [ ]:
del myarray[0]

# Points:
# please consider this as awareness session  . the idea is to reduce the complexity of subject

# you are still not functional in concepts, you need to practice atleast 5 to 15 questions on each topic.

# practice of overall 15-25 hours is suggested.

In [ ]:
data  = { ('alice',2016) : 8500  , ('alice',2017): 9500 , ('alice',2018) : 4500 }

# key: is tuple where ( key is a combination of employee name and working year)
# value : is sale made by the employee

In [ ]:
sample = ('hello',[10,20,30],'india')